@import "tailwindcss";

@layer base {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #f8fafc;
    --text-primary: #1e293b;
    --text-secondary: #475569;
    --accent-primary: #0ea5e9;
    --accent-secondary: #38bdf8;
    --border-color: #e2e8f0;
    --card-bg: #ffffff;
    /* --bg-image: url('/White-BG.png'); */
  }
  
  .dark {
    --bg-primary: #0a0a0a;
    --bg-secondary: #111827;
    --text-primary: #f3f4f6;
    --text-secondary: #9ca3af;
    --accent-primary: #0ea5e9;
    --accent-secondary: #38bdf8;
    --border-color: rgba(255, 255, 255, 0.1);
    --card-bg: rgba(17, 24, 39, 0.6);
    /* --bg-image: url('/Black-BG.png'); */
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@layer components{
  .card{
    @apply p-6 rounded-xl border flex flex-col hover:-translate-y-1 hover:shadow-lg transition-all
  }

  .outlined-button{
    @apply border py-3 px-6 rounded font-medium transition-all duration-200 hover:-translate-y-0.5 hover:shadow-lg
  }

  .filled-button{
    @apply cursor-pointer bg-sky-500 hover:bg-sky-600 text-white py-3 px-6 rounded font-medium flex items-center justify-center gap-2 transition hover:-translate-y-0.5 hover:shadow-lg
  }
}

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  .theme-transition {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}

.reveal{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible{
  opacity: 1;
  transform: translateY(0);
}

.dark-icon {
  filter: invert(1) brightness(1.5);
}